.row
{
    padding: 1%;
}

h2
{
    font-family: 'Bowlby One SC', Time, serif;
    font-size: 1.5em;
    text-align: center;
}

h3
{
    font-family: 'Bowlby One SC', Times, serif;
    font-size: 1em;
    text-align: center;
}